<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h2>Create New Chat</h2>
    <form action="/chats" method="post">
        <label for="from">From:</label>
        <input type="text" name="from" id="from"><br><br>
        <label for="to">To:</label>
        <input type="text" name="to" id="to"><br><br>
        <label for="msg">Massage:</label>
        <textarea name="msg" id="msg"></textarea><br><br>
        <button>Create Chat</button>
    </form>    
</body>
</html>